header{
    .navbar{
        padding-bottom: 0;
        background-color: transparent;
        font-family: 'Open Sans', sans-serif;
        .home{
            li{
                font-family: 'Montserrat', sans-serif;
                font-size: 32px;
            }
        }
    }
}