<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 navbar">
                <ul class="home">
                    <li>Kevin Gong</li>
                </ul>
                <ul>
                    <li>
                        <a>Experience</a>
                    </li>
                    <li>
                        <a>Projects</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>