<section class="footer-section">
    <div class="container">
        <h1>Get In Touch</h1>
        <p>If you want to get to know more about me, feel free to reach out! </p>
        <div class="contactIcon">
            <ul>
              <li>
                <button type="submit" id="emailBtn" onclick="location.href='mailto:kevingong1995@gmail.com';">
                </button>
              </li>
              <li>
                <button type="submit" id="linkedInBtn" onclick="location.href='https://www.linkedin.com/in/kevin-gong-87021813b/';">
                </button>
              </li>
              <li>
                <button type="submit" id="gitHubBtn" onclick="location.href='https://github.com/kevingong242';">
                </button>
              </li>
              <li>
                <button type="submit" id="resumeBtn" onclick="location.href='https://www.dropbox.com/s/1qow47z18kbo8uf/Kevin%20Gong%27s%20Resume.pdf?dl=0';">
                </button>
              </li>
            </ul>
          </div>
    </div>
</section>
