.footer-section{
    text-align: center;
    #emailBtn{ background-image: url("../../assets/iconfinder_Email_3138894.png"); }
    #linkedInBtn{ background-image: url("../../assets/iconfinder_LinkedIn_3138898.png"); }
    #gitHubBtn{ background-image: url("../../assets/iconfinder_social_media_social_media_logo_github_2993771.png"); }
    #resumeBtn{ background-image: url("https://cdn1.iconfinder.com/data/icons/aami-flat-files/64/files-08-512.png"); }
    .contactIcon{
        padding: 20px;
        ul{
            margin: 10px;
            display: flex;
            justify-content: center;
            li{
                list-style: none;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px; 
            }
            button{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                opacity: 0.75;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    
}