<div class="container">
    <div class="row">
        <div class="section-title">
            EXPERIENCE
        </div>
        <div class="section-content-container">
            <div class="row job-experience">
                <div class="company-duration">
                    <div class="job-company">City Beauty</div>
                    <div class="job-duration">Feburary 2021 - Present</div>
                </div>
                <div class="job-position">Web Developer</div>
            </div>
            <div class="row job-experience">
                <div class="company-duration">
                    <div class="job-company">City Beauty</div>
                    <div class="job-duration">August 2019 - Feburary 2021</div>
                </div>
                <div class="job-position">Junior Web Developer</div>
            </div>
            <div class="row job-experience">
                <div class="company-duration">
                    <div class="job-company">RG Pacific LLC</div>
                    <div class="job-duration">June 2019 - August 2019</div>
                </div>
                <div class="job-position">Web Developer Intern</div>
            </div>
        </div>
    </div>
</div>