<section>
    <div class="container">
        <div class="row">
            <div class="col">
                EXPERIENCE
            </div>
            <div class="col">
                <div class="row">
                    <div class="row single-experience">
                        <div class="company">
                            City Beauty
                        </div>
                        <div class="company-duration">
                            August 2019 - Present
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>