<div class="container">
    <div class="row">
        <div class="section-title">PROJECTS</div>
        <div class="section-content-container">
            <div class="row single-project">
                <div class="project-name">
                    <a href="https://github.com/kevingong242/NBAFantastyPlayerPredictor">NBA Fantasty Player Predictor</a>
                </div>
                <div class="project-description">
                    An application that offers multiple datasets on every NBA player in the league to helps determine how to set the best lineup every week.
                </div>
                <div class="tech-used">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>Node.js</p>
                    <p>JavaScript</p>
                    <p>jQuery</p>
                    <p>SQLite</p>
                    <p>Cheerio.js</p>
                </div>
            </div>
        </div>
    </div>
</div>