.section-content-container{
    flex-direction: column;
}
.single-project{
    margin-bottom: 30px;
}
.project-name{
    font-weight: bold;
    width: 100%;
}
a{
    color: #333;
}
.tech-used{
    display: flex;
    i{
        font-size: 34px;
        padding: 5px 10px;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #333;
        padding: 2px 5px;
        text-align: center;
        margin: 5px 10px;
    }
}

@media only screen and (max-width: 768px){
    .single-project{
        width: 100%;
        .project-description{
            width: 100%;
        }
    }
    .tech-used{
        flex-wrap: wrap;
    }
}