<div class="container">
    <div class="row">
        <div class="section-title">PROJECTS</div>
        <div class="section-content-container">
            <div class="row single-project">
                <div class="project-name">
                    <a href="https://github.com/kevingong242/NBAFantastyPlayerPredictor">NBA Fantasty Player Predictor</a>
                </div>
                <div class="project-description">
                    An application that offers multiple datasets on every NBA player in the league to helps determine how to set the best lineup every week.
                </div>
                <div class="tech-used">
                    <i class="devicon-html5-plain-wordmark colored"></i>
                    <i class="devicon-css3-plain-wordmark colored"></i>
                    <i class="devicon-nodejs-plain colored"></i>
                    <i class="devicon-javascript-plain colored"></i>
                    <i class="devicon-jquery-plain-wordmark colored"></i>
                    <p>SQLite</p>
                    <p>Cheerio.js</p>
                </div>
            </div>
            <div class="row single-project">
                <div class="project-name">
                    <a href="https://github.com/kevingong242/mintlight">Mint Light</a>
                </div>
                <div class="project-description">
                    A money management application that helps users keep track of transactions and spending habits.
                </div>
                <div class="tech-used">
                    <i class="devicon-html5-plain-wordmark colored"></i>
                    <i class="devicon-css3-plain-wordmark colored"></i>
                    <i class="devicon-nodejs-plain colored"></i>
                    <i class="devicon-javascript-plain colored"></i>
                    <i class="devicon-react-original-wordmark colored"></i>
                    <p>Firebase</p>
                </div>
            </div>
        </div>
    </div>
</div>