.project-name{
    font-weight: bold;
}
a{
    color: #333;
}
.tech-used{
    display: flex;
    p{
        border: solid 1px #333;
        padding: 2px 5px;
        text-align: center;
        margin: 3px 3px 3px 0;
    }
}