<section>
    <div class="container">
        <div class="row">
            <div class="col-">
                <p>SKILLS</p>
            </div>
            <div class="col">
                <ul>
                    <li>LANGUAGES</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>FRAMEWORKS</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>TOOLS</li>
                </ul>
            </div>
        </div>
    </div>
</section>