<div class="container">
    <div class="row">
        <div class="section-title">
            <div>SKILLS</div>
        </div>
        <div class="section-content-container">
            <div class="col">
                <div class="skills-category">LANGUAGES</div>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col">
                <div class="skills-category">TECHNOLOGIES</div>
                <ul>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>Node.js</li>
                    <li>jQuery</li>
                    <li>Express.js</li>
                    <li>Ionic</li>
                    <li>Sass</li>
                    <li>Bootstrap</li>
                    <li>MongoDB</li>
                    <li>SQLite</li>
                </ul>
            </div>
        </div>
    </div>
</div>
