/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
p{
    font-family: "Roboto";
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Playfair";
}
ul{
    list-style-type: none;
    padding: 0;
}
section{
    max-width: 1140px; 
    margin: 0 auto;
    padding: 50px 20px;
}

.container{
    padding: 0;
    margin: 50px auto;
}

.row{
    margin: 0;
}

.col{
    padding: 0;
}

.section-title{
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
    text-align: left;
    max-width: 20%;
    width: 100%;
    color: #3aa8ff;
}

.section-content-container{
    max-width: 75%;
    width: 100%;  
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px){
    section{
        padding: 20px;
    }
    .container{
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px){
    section{
        .row{
            flex-direction: column;
        }
        .section-title{
            margin-right: 0;
            margin-bottom: 30px;
            max-width: 100%;
            font-size: 32px;
        }
        .section-content-container{
            max-width: 100%;
        }
    }
}
